
        body{
            background-color: rgba(156, 9, 146, 0.875);
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0;
        }

        h1{
            text-align: center;
            font-size: 50px;
            margin-top: 40px;
            animation: brillo 1.5s infinite alternate;
            position: relative;
            z-index: 2;
        }

        @keyframes brillo{
            from{
                opacity: 0.7;
                text-shadow: 0 0 5px white;
            }
            to{
                opacity: 1;
                text-shadow:
                0 0 10px rgb(113, 181, 236),
                0 0 20px rgb(113, 181, 236),
                0 0 40px rgb(113, 181, 236);
            }
        }

        .contenedor{
            display: flex;
            justify-content: center;
            gap: 40px;
            flex-wrap: wrap;
            margin-top: 60px;
            padding: 20px;
            position: relative;
            z-index: 2;
        }

        .card{
            width: 300px;
            background-color: rgba(255,255,255,0.1);
            border-radius: 20px;
            padding: 20px;
            text-align: center;
            transition: 0.3s;
        }

        .card:hover{
            transform: scale(1.05);
        }

        .card img{
            width: 100%;
            border-radius: 20px;
        }

        .card h2{
            margin-top: 20px;
            font-size: 30px;
        }

        .card p{
            font-size: 18px;
            line-height: 1.6;
        }

        .botones{
            margin-top: 60px;
            padding: 20px 40px;
            position: relative;
            z-index: 2;
        }

        a{
            font-size: 30px;
            color: white;
            text-decoration: none;
            margin-right: 40px;
        }

        a:hover{
            color: yellow;
        }

        /* EMOJIS CAÍENDO */
        .emoji{
            position: fixed;
            top: -50px;
            font-size: 30px;
            animation: caer linear forwards;
            pointer-events: none;
            z-index: 1;
        }

        @keyframes caer{
            to{
                transform: translateY(110vh);
                opacity: 0;
            }
        }

        @keyframes subir {
            0%{
                transform: translateY(0px);
                opacity: 1;
            }
            100%{
                transform: translateY(-120px);
                opacity: 0;
            }
        }